<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link href="/bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/notice.css">
    <title>通知公告</title>
</head>

</head>
<body>
<div class="left-bg"></div>
<div class="right-bg"></div>
<div id="topindex">
    <table width="100%">
        <tr style="height:17px">
            <td>
            <td>
        </tr>
        <tr>
            <td style="padding-left:20px; width:50%"><span style=" float:left;color: #FFF; font-family:'Times New Roman', Times, serif">欢迎来到空调租赁缴费平台</span><td>
            <td style="padding-right:30px"><span style=" float:right; font-family:'Times New Roman', Times, serif">
            	<a style="color:#FFF;padding-right:20px" href="/">首页</a>
                <a style="color:#FFF" href="/contact">联系我们</a>
                </span></td>
        </tr>
    </table>
</div>
<div class="left-bg"></div>
<div class="right-bg"></div>
<div id="title"><img src="/images/log_before/logo.png"></div>

<div class="notice-center">
    <div class="notice-center-top"></div>
    <div class="notice-center-left"></div>
    <div class="notice-center-bottom"></div>
    <div class="notice-title">
        <i class="notice-icon"></i>
        <span>通知公告</span>
    </div>
    <div class="notice-name">高校学生公寓空调租赁系统</div>
    <div class="notice-time">发布日期：2017-03-1</div>
    <div class="notice-wrap">
        <div class="notice-content">
            <p>随着我国经济的发展，人们对生活品质，特别是居住环境的要求越来越高。很多高校，特别是南方地区的高校，学生宿舍都普遍安装了空调。因为高校学生宿舍数目众多，安装空调对资金需求较大，所以目前高校空调管理都是市场化运作，一般运作方式为所有空调由外部公司购置、安装，空调由学校代管理，学生使用需缴纳租金，公司收取前几年的租金，到期后空调归学校所有，后续租金归学校所有。</p>
            <p>根据前期调研，在目前运作模式下有如下几个问题需要解决：
                1.管理工作量大，采购的空调都是分体壁挂空调，无法远程控制，运作过程中收费、管理工作量庞大，需要雇佣大量人员，增加了运作成本；
                2.运作制度不合理，目前的空调租用运作过程中，为了减轻工作量和后续管理压力，很多学校都是一次性收取4年的空调租金，学生无法按需租用;
                3.监管难度大，以前空调租用管理主要是靠空调遥控器来实现，租用空调的宿舍就发放遥控器，不租用空调的宿舍就不发放空调遥控器。随着带红外遥控功能智能手机的普及以及电子商务的发展，以前的这套管理方式已经不再适用，不租用空调的同学可以使用智能手机或网购的空调遥控器来使用空调，目前的管理难度很大。</p>
            <p>为了能够很好的解决以上问题，我们设计了一套高校学生公寓空调租赁系统。通过该系统，学生可以通过web按月支付自己所在宿舍租赁费用，系统后台可以自动或手动发送开关指令控制指定房间空调。</p>
        </div>
    </div>
</div>

<script type="text/javascript" src="/javascripts/jquery-3.1.1.min.js"></script>
<script type="text/javascript" src="/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
</body>
</html>
